<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jin123d.urp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/appname"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/appname">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.Statues" />
        <activity
            android:name=".XjxxActivity"
            android:label="@string/title_activity_xjxx" />
        <activity
            android:name=".XfjdActivity"
            android:label="@string/title_activity_xfjd" />
        <activity
            android:name=".ZjsjActivity"
            android:label="@string/title_activity_zjsj" />
        <activity
            android:name=".KbActivity"
            android:label="@string/title_activity_kb" />
        <activity
            android:name=".CjActivity"
            android:label="@string/title_activity_cj" />
        <activity
            android:name=".TzggActivity"
            android:label="@string/title_activity_tzgg" />
        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news" />
        <activity
            android:name=".JxpgListActivity"
            android:label="@string/title_activity_jxpg_list" />
        <activity
            android:name=".Loading"
            android:label="@string/title_activity_loading" />
        <activity
            android:name=".WebActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".ChangeColor"
            android:label="@string/title_activity_change_color" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />

    </application>

</manifest>
